# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log
package-lock.json

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Model files (large)
*.h5
*.pt
*.bin

# OS
.DS_Store
Thumbs.db
dataset/
